@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  /* body와 html 높이를 화면 전체로 설정 */
  margin: 0;
  /* 기본 마진 제거 */
  background-color: #DAE0EE;
  /* 하늘색 배경 */
}

#left-half {
  width: 50%;
  /* 각 영역 너비 50% */
  height: 100%;
  /* 각 영역 높이 100% */
  float: left;
  /* 왼쪽으로 플로팅 */
}

#left-half img {
  width: 700px;
  height: 700px;
  display: block;
  /* 인라인 요소를 블록 요소로 변환 */
  margin: auto;
  /* 자동으로 가운데 정렬 */
  margin-top: 100px;
}


#center-half {
  width: 40%;
  height: 100%;
  /* 각 영역 높이 100% */
  float: left;
  /* 왼쪽으로 플로팅 */
  background-color: rgb(78, 78, 78);
  /* 배경색 추가 (원하는 색상 및 불투명도 설정) */
  box-shadow: 4px 4px 6px rgba(56, 56, 56, 0.5),
    /* 아래쪽, 오른쪽 그림자 */
    -4px 4px 6px rgba(91, 91, 92, 0.5),
    /* 아래쪽, 왼쪽 그림자 */
    4px -4px 6px rgba(91, 91, 92, 0.5),
    /* 위쪽, 오른쪽 그림자 */
    -4px -4px 6px rgba(91, 91, 92, 0.5);
  /* 위쪽, 왼쪽 그림자 */
  display: flex;
  /* Flexbox 사용 */
  flex-direction: column;
  /* 세로 방향 배치 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  align-items: center;
  /* 가로 중앙 정렬 */
  border-radius: 110px;
  background-image: url('phone_background.png');
  /* 이미지 경로 설정 */
  background-size: cover;
  /* 이미지 크기 조절 */
  background-repeat: no-repeat;
  /* 이미지 반복 방지 */
  background-blend-mode: multiply;
  /* 이미지와 배경색 혼합 */
}


#right-half {
  width: 10%;
  /* 각 영역 너비 50% */
  height: 100%;
  /* 각 영역 높이 100% */
}

.status-bar {
  display: flex;
  /* 아이템들을 가로로 정렬 */
  justify-content: space-between;
  /* 양쪽 끝으로 정렬 */
  align-items: center;
  /* 수직 가운데 정렬 */
  padding: 10px;
  /* 내부 여백 추가 */
  margin-top: -95px;
}

/* 시간 스타일 */
#current-time {
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 26px;
  margin-top: 12px;
  color: rgb(219, 218, 218);
}

#dynamic-island {
  width: 150px;
  /* 아이콘 크기 조절 */
  height: 150px;
  margin-left: 120px;
  margin-right: 55px;
}

/* 아이콘 스타일 */
#wifi-icon {
  width: 50px;
  /* 아이콘 크기 조절 */
  height: 45px;
  margin-left: 8%;
  margin-right: 40px;
}

#battery-icon {
  width: 45px;
  /* 아이콘 크기 조절 */
  height: 45px;
}

.calling-container {
  width: 80%;
  height: 750px;
  background-color: rgba(240, 248, 255, 0.37);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  /* 세로 방향으로 배치 */
  justify-content: center;
  /* 주 축(세로) 가운데 정렬 */
  align-items: center;
  /* 교차 축(가로) 가운데 정렬 */
}

.order-box {
  margin-top: -40px;
  margin-left: 6%;
}

.calling-button {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  /* 축소 방지 */
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 4px 4px 6px rgba(16, 135, 3, 0.915),
    /* 아래쪽, 오른쪽 그림자 */
    -4px 4px 6px rgba(16, 135, 3, 0.915),
    /* 아래쪽, 왼쪽 그림자 */
    4px -4px 6px rgba(16, 135, 3, 0.915),
    /* 위쪽, 오른쪽 그림자 */
    -4px -4px 6px rgba(16, 135, 3, 0.915);
  /* 위쪽, 왼쪽 그림자 */
  border: none;
  padding: 0;
  margin-top: -95px;
  margin-right: 45px;
  cursor: pointer;
  position: relative;
}

.calling-button img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
  /* Smooth transition for the glow effect */
}

.calling-button:hover img {
  filter: drop-shadow(0 0 5px rgb(10, 196, 56));
  /* Glow effect */
  transform: translateY(-1px);
}

.remove-button {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  /* 축소 방지 */
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;

  position: absolute;
  /* 절대 위치 지정 */
  margin-top: -60px;
}

.remove-button img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
  /* Smooth transition for the glow effect */
}

.remove-button:hover img {
  filter: drop-shadow(0 0 5px rgb(120, 6, 6));
  /* Glow effect */
  transform: translateY(-1px);
}

/* 텍스트 박스 스타일 */
.text-box {
  width: 400px;
  height: 50px;
  line-height: 50px;
  /* 텍스트 박스 높이와 동일하게 설정 */
  background-color: #434343;
  box-shadow: 4px 4px 6px rgba(56, 56, 56, 0.5),
    /* 아래쪽, 오른쪽 그림자 */
    -4px 4px 6px rgba(91, 91, 92, 0.5),
    /* 아래쪽, 왼쪽 그림자 */
    4px -4px 6px rgba(91, 91, 92, 0.5),
    /* 위쪽, 오른쪽 그림자 */
    -4px -4px 6px rgba(91, 91, 92, 0.5);
  /* 위쪽, 왼쪽 그림자 */
  color: #ccc;
  border-radius: 50px;
  margin-right: 10px;
  padding: 10px;
  font-family: 'GmarketSansMedium', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  /* 텍스트 오른쪽 정렬 */
  padding: 20px;
  margin-bottom: 10px;
  margin-top: -60px;
}

/* 버튼 박스 스타일 */
.number-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* 숫자 버튼 스타일 */
.number-button {
  width: 90px;
  height: 90px;
  margin-left: 15px;
  border-color: #131313;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #131313;
  box-shadow: 2px 2px 4px rgba(38, 38, 38, 0.836),
    /* 아래쪽, 오른쪽 그림자 */
    -2px 2px 4px rgba(38, 38, 38, 0.836),
    /* 아래쪽, 왼쪽 그림자 */
    2px -2px 4px rgba(38, 38, 38, 0.836),
    /* 위쪽, 오른쪽 그림자 */
    -2px -2px 4px rgba(38, 38, 38, 0.836);
  /* 위쪽, 왼쪽 그림자 */

  color: #ccc;
  font-size: 24px;
  cursor: pointer;
}

.number-button:hover {
  background-color: rgba(39, 39, 39, 0.939);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  color: #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}